# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env
entorno/

# Archivos de configuración o credenciales
token.txt
*.json

# Archivos de Visual Studio Code
.vscode/
.vs/


# Archivos de sistema
.DS_Store
Thumbs.db

# Ignorar carpeta tool completa
tool/
backup/